.updateProfile {
  .container {
    display: flex;
    padding-top: 20px;

    .left-part {
      flex: 1;
      // text-align: center;

      .input-user-img {
        display: flex;
        align-items: center;
        justify-content: center;

        .labelImg {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 2px solid var(--accent-color);
          cursor: pointer;

          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }

        .userImg {
          display: none;
        }
      }
    }

    .right-part {
      flex: 3;

      form {
        border: 1px solid var(--border-color);
        padding: 20px;
        border-radius: 10px;
      }

      input {
        display: block;
        padding: 8px 16px;
        width: 100%;
        margin-top: 16px;
        border: 2px solid var(--border-color);
        border-radius: 4px;
      }

      .btn-primary {
        width: fit-content;
        border: none;
      }

      .delete-account {
        margin-top: 16px;
        background-color: red;

        &:hover {
          background-color: rgb(165, 4, 4);
        }
      }
    }
  }
}
