.follower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  .user-info {
    display: flex;
    align-items: center;
    // justify-content: center;
    cursor: pointer;
    gap: 10px;
  }

  // .follow-link {
  //   color: var(--accent-color);
  // }
}
